:root {
    /* bg colors */
    --main-bg-color: #FFFFFF;
    --bg-hero-color: #2F303A;

    /* font colors */
    --accent-blue: #2196F3;
    --accent-black: #000000;
    --main-font-black: #212121;
    --link-contact-color: #757575;
    --white: #FFFFFF;
    --link-contact-color-footer: rgba(255, 255, 255, 0.6);
}